* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background: black;
    color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
}

.background {
    position:fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, #1b2735, #090a0f);
    z-index: -1;
}

.container {
    width:90%;
    max-width:700px;
    padding:40px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius:20px;
    text-align:center;
    box-shadow: 0 0 40px rgba(138,43,226,0.3);
}

.title {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #c084fc;
    text-shadow: 0 0 20px #9333ea;
}

.subtitle {
    margin-bottom: 30px;
    color: #d1d5db;
}

textarea {
   width: 100%;
   height:150px;
   padding: 20px;
   border:none;
   outline:none;
   resize:none;
   border-radius: 15px;
   background:rgba(255,255,255,0.08);
   color:white;
   font-size:1rem;
   margin-bottom:20px; 
}

textarea::placeholder {
    color:#9ca3af;
}

.bbtn {
    padding: 15px 30px;
    border:none;
    border-radius:1000px;
    background: linear-gradient(45deg, #9333ea, #6d28d9);
    color: white;
    font-size:1rem;
    cursor:pointer;
    transition:0.3s;
}

.bbtn:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px #9333ea;
}

#output {
    margin-top:30px;
    font-size:1.2rem;
    min-height:50px;
    color:#e9d5ff;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.star{
    position: absolute;
    width: 3px;
    height: 3px;
    background:white;
    border-radius: 50%;
    animation:twinkle 3s infinite;
}

@keyframes twinkle{
    0%{
        opacity: 0.2;
        transform:scale(1);
    }
    50%{
        opacity: 1;
        transform:scale(1.5);
    }
    100%{
        opacity: 0.3;
        transform:scale(1);
    }
}

.words {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.word {
    position: absolute;
    color:#c084fc; 
    font-size: 2rem;
    animation: floatup 5s linear forwards;
    text-shadow:0 0 20px #9333ea;
    font-weight:bold;
}

@keyframes floatup {
    from{
        transform: translatey(0);
        opacity: 0;
    }
    to{
        transform: translatey(-120vh);
        opacity: 1;
    }
}

